<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Home</title>
        <meta name="description" content="Already exists page"/>
    </head>

    <body>
        <table>
            <tr>
                <td colspan="5">Student already exists. Please use different Roll Number!</td>
            </tr>
            <tr style="text-align: center;">
                <td colspan="5"><a href="{{ url_for('root') }}">Go Home</a></td>
            </tr>
        </table>
    </body>
</html>